*.py[cod]
build
dist
lammps


# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.eggs

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#emacs files
\#*\#
*~

#Mac Files
*.DS_Store

#json interp files
*_interpreted.json

# intellij (for pycharm)
.idea
*.iml

# testing folder
testing

# Documentation
docs/_build/
htmlcov/

# Transient result data
tests/test_data/path_bin/100th_CEC_z2_4.log
tests/test_data/path_bin/100th_CEC_z2_4.xyz
**/pressed_*
tests/test_data/evbd2d/*.dump
tests/test_data/evbd2d/check.sh
tests/test_data/evbd2d/*.txt
tests/test_data/evbd2d/*.data
tests/test_data/evbd2d/*.csv
tests/test_data/data2pdb/*pdb
tests/test_data/data2pdb/*.csv
tests/test_data/data2data/*.csv
tests/test_data/data_reorder/*.txt
tests/test_data/pdb2data/*.txt
tests/test_data/data2data/*.data
