language: python

matrix:
    include:
    # Extra includes for OSX since python language is not available by default on OSX
    - os: osx
      language: generic
      env: PYTHON_VER=3.5
    - os: osx
      language: generic
      env: PYTHON_VER=3.6

    - os: linux
      python: 3.5
      env: PYTHON_VER=3.5
    - os: linux
      python: 3.6
      env: PYTHON_VER=3.6

before_install:
# Additional info about the build
- uname -a
- df -h
- ulimit -a

install:
- ./.travis/install.sh
- bash miniconda.sh -b -p $HOME/miniconda
- export PATH="$HOME/miniconda/bin:$PATH"
- hash -r
- conda config --set always_yes yes --set changeps1 no
- conda update -q conda
- # Useful for debugging any issues with conda
- conda info -a

- conda create -q -n test-environment python=$PYTHON_VER pip pytest pytest-cov cython numpy
- source activate test-environment
- python setup.py install

- # Install pip only modules
- pip install codecov

script:
- # Allows matplotlib to render in all envs
- export MPLBACKEND=Agg
- pytest -v --cov=md_utils tests/

notifications:
    email: false

after_success:
- codecov
